body {
    background-image: url(src/bg.png);
    background-size: contain;
}
li{
    list-style-type: none;
}

ul{
    margin-left: 0;
    padding-left: 0;
}

.navtitle{
    float: left;
    margin-left: 50px;
    color: white;
}

.head{
    height: 10% !important;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0065b3;
}

.content{
    background-image: url(src/bg.png);
    background-size: contain;
    width: 100%;
    min-height: 900px;
    overflow: hidden;
	position: relative;
}

.ied{
    background-image: url(src/block.png);
    background-size: contain;
    width: 172.2px;
    height: 230px;
    position: absolute;
}

.blockbutton{
    margin-top: 10px;
    margin-left: 5px;
    width: 160px;
    height: 30px;
    background-color: #0065b3 ;
    border-radius: 5px;
    border: none;
    color: white;
}

.tl{
    color: white;
    margin-left: 10px;
    margin-top: 0px;
}

.tr{
    margin-right: 15px;
}

.commute{
    margin-right: 50px;
    float: right;
    background-image: url(src/commutator.png);
    background-size: cover;
    width: 210px;
    /*display: none;*/
    padding-bottom: 10px;
}

.port{
    color: white;
    margin-top: 25px;
    margin-left: 15px;
}

.bt{
    width: 190px;
    margin-left: 10px;
    margin-top: 70px;
}

.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    backdrop-filter: blur(2px);
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:400px;
    padding:20px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    overflow: hidden;
    text-align: center;
}

.b-popup .b-popup-content .close {
    
}

.b-popup .b-popup-content .device-name {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;

}

.b-popup .b-popup-content .form-group {
    width: 100%;
    height: 20px;
}

.b-popup .b-popup-content label {
    width: 120px;
    float: left;
    text-align: left;
}

.b-popup .b-popup-content input {
    width: 150px;
    float: left;
    text-align: left;

}

.b-popup .b-popup-content button {
    margin-top: 30px;
    font-size: 22px;
}

.device-settings.hide {
    display: none;
}

.device-settings.show {
    display: block;
}

.сommute-settings.hide {
    display: none;
}

.сommute-settings.show {
    display: block;
}

.сommute-settings .b-popup-content {
    width: 800px;
} 