li{
    list-style-type: none;
}

ul{
    margin-left: 0;
    padding-left: 0;
}

.navtitle{
    float: left;
    margin-left: 50px;
    color: white;
}

.head{
    height: 10% !important;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0065b3;
}

.content{
    background-image: url(src/bg.png);
    background-size: contain;
    width: 100%;
    min-height: 900px;
    overflow: hidden;
	position: relative;
}

.ied{
    background-image: url(src/block.png);
    background-size: contain;
    width: 172.2px;
    height: 230px;
    position: absolute;
}

.blockbutton{
    margin-top: 10px;
    margin-left: 5px;
    width: 160px;
    height: 30px;
    background-color: #0065b3 ;
    border-radius: 5px;
    border: none;
    color: white;
}

.tl{
    color: white;
    margin-left: 10px;
    margin-top: 0px;
}

.tr{
    margin-right: 15px;
}

.commute{
    margin-top: -300px;
    margin-right: 50px;
    float: right;
    background-image: url(src/commutator.png);
    background-size: cover;
    width: 210px;
    height: 535px;
    display: none;
}

.port{
    color: white;
    margin-top: 25px;
    margin-left: 15px;
}

.bt{
    width: 190px;
    margin-top: 310px;
    margin-left: 10px;
}