body {
    background-image: url(src/bg.png);
    background-size: contain;
}
li{
    list-style-type: none;
}

ul{
    margin-left: 0;
    padding-left: 0;
}

.navtitle{
    float: left;
    margin-left: 50px;
    color: white;
}

.head{
    height: 10% !important;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #0065b3;
}

.content{
    background-image: url(src/bg.png);
    background-size: contain;
    width: 100%;
    overflow: hidden;
	position: relative;
    max-height: 100vh;
    height: 100vh;
}

.ied{
    background-image: url(src/block.png);
    background-size: contain;
    width: 172.2px;
    height: 230px;
    position: absolute;
    z-index: 999;
}

.ied .link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0065b3;
    position: absolute;
    right: -15px;
    top: 37px;
    transition: 0.3s;
    cursor: pointer;
}

.ied .link:hover {
    width: 40px;
    height: 40px;
    right: -20px;
    top: 32px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #17b792;
}

.ied .link.active {
    width: 40px;
    height: 40px;
    right: -20px;
    top: 32px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #17b792;
}

.commute .links {
    position: absolute;
    top: 48px;
}

.commute .link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0065b3;
    transition: 0.2s;
    margin-bottom: 19px;
    margin-left: -15px;

}


.commute .link:hover {
    width: 40px;
    height: 40px;
    transition: 0.2s;
    background-color: #17b792;
    margin-bottom: 13.5px;
    margin-top: -5px;
    margin-left: -20px;
}

.commute .link.active {
    width: 40px;
    height: 40px;
    transition: 0.2s;
    background-color: #17b792;
    margin-bottom: 13.5px;
    margin-top: -5px;
    margin-left: -20px;
}

.blockbutton{
    margin-top: 10px;
    margin-left: 5px;
    width: 160px;
    height: 30px;
    background-color: #0065b3 ;
    border-radius: 5px;
    border: none;
    color: white;
}

.tl{
    color: white;
    margin-left: 10px;
    margin-top: 0px;
}

.tr{
    margin-right: 25px;
    margin-top: 1px;
}

.commute{
    margin-right: 50px;
    float: right;
    background-image: url(src/commutator.png);
    background-size: cover;
    width: 210px;
    /*display: none;*/
    padding-bottom: 10px;
    position: absolute;
    right: 150px;
    top: 200px;
    z-index: 999;

}

.port{
    color: white;
    margin-top: 25px;
    margin-left: 25px;
}

.bt{
    width: 190px;
    margin-left: 10px;
    margin-top: 70px;
}

.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    height: 2000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    backdrop-filter: blur(2px);
}
.b-popup .b-popup-content{
    margin:40px auto 0px auto;
    width:400px;
    padding:20px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    overflow: hidden;
    text-align: center;
}

.b-popup .b-popup-content .close {
    
}

.b-popup .b-popup-content .device-name {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;

}

.b-popup .b-popup-content .form-group {
    width: 100%;
    height: 20px;
}

.b-popup .b-popup-content label {
    width: 120px;
    float: left;
    text-align: left;
}

.b-popup .b-popup-content input {
    width: 150px;
    float: left;
    text-align: left;

}

.b-popup .b-popup-content button {
    margin-top: 30px;
    font-size: 22px;
}

.device-settings.hide {
    display: none;
}

.device-settings.show {
    display: block;
}

.сommute-settings.hide {
    display: none;
}

.сommute-settings.show {
    display: block;
}

.сommute-settings .b-popup-content {
    width: 800px;
} 

.link.active {
    animation: pulsation 2s infinite ease-in-out;
}

@keyframes pulsation {
    from {
        width: 40px;
        height: 40px;
        right: -20px;
        background-color: #1eefbf;

    }

    50% {
        margin-top: 5px;
        width: 30px;
        height: 30px;
        right: -15px;
        background-color: #0065b3;
        opacity: .7;
    }

    to {
        width: 40px;
        height: 40px;
        right: -20px;
        background-color: #1eefbf;
    }

}

.commute .link.active {
    animation: pulsation2 2s infinite ease-in-out;

}

@keyframes pulsation2 {
    from {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #1eefbf;
        margin-bottom: 14px;
        margin-left: -20px;
        margin-top: -5px;

    }

    50% {
        margin-top: 0px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #0065b3; 
        transition: 0.2s;
        margin-bottom: 19px;
        margin-left: -15px;
    }

    to {
        margin-top: -5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #1eefbf;
        margin-bottom: 14px;
        margin-left: -20px;
    }

}

.line {
    margin-top: -45px !important;
    z-index: 10;
}

.drag .delete{
    margin-top: -38px;
    margin-right: 3px;
    width: 20px;
    height: 20px;
    background-image: url(src/close.png);
    background-size: contain;
    float: right;
    color: white;
}